  <tr>
    <td><%= question.body %></td>
    <td><%= link_to "Ответы", question_path(question) %></td>
    <td><%= link_to "Изменить", edit_question_path(question) %></td>
    <td><%= link_to "Удалить", 
      question_path(question),
      method: :delete,
      data: { confirm: "Действительно удалить" } %>
    </td>
  </tr>
  