<h1>Тест по теме: <%= @test_passage.test.title %>. Завершен! </h1>

<h2>
  <% if @test_passage.success? %>
    <span class='success'>Тест пройден успешно на  
      <%= @test_passage.percent_correct_answers %>%
    </span>
  <% else %>
    <span class='failure'>Тест не пройден! Процент успеха составил: 
      <%= @test_passage.percent_correct_answers %>%
    </span>
  <% end %>
</h2>

<%= link_to 'Cписок Тестов', tests_path %>
