<%# Фрагмент будет выводить flash сообщения, которые будут присутствовать в запросе  %>
<%# Добавим стили в app/assets/stylesheets/flash.scss %>

<div class="row justify-content-center mt-3">
  <div class="col col-md-6">

    <% flash.each do |key, message| %>
      <div class="alert alert-dark" role="alert">
        <%= content_tag :p, message, class: "flash #{key}", style: 'color: blue' %>
      </div>
    <% end %>

  </div>
</div>
