<footer>
  <br>
  <hr>
  <p> © <%= current_year %> svs</p>
  <p> <%= github_url('svslight', 'testGuru') %> - сайт, где вы можете пройти разные тесты. </p>
  <!--p> Учебный проект <%= link_to 'Thinknetica', 'https://thinknetica.com/', target: '_blank' %> </p-->
</footer>