<div>
  <p> &copy; <%= current_year %>  Svs
  <%= github_url('svslight', 'testGuru') %> - Сайт, где вы можете пройти разные тесты.<br>  
   Проект <%= link_to 'Thinknetica', 'https://thinknetica.com/', target: '_blank' %> </p>
</div>
