<!--h1>Список курсов для прохождения теста</h1-->
<h1><%= t('.header') %></h1>

<p>
  <%= link_to "Создать курс", new_admin_test_path %>
</p>

<table>
  <tr>
    <th>Курсы</th>
    <th>Уровень сложности</th>
    <th>Кол.вопросов</th>
    <th colspan="3">Действия</th>
  </tr>

  <%= render @tests %>
</table>
