<h1>Список тестов:</h1>

<ul>
  <% @tests.each do |test| %>
    <li>
      <p> Уровень сложности: <%= test.level %>, курс по <%= test.title %>, id: <%= test.id %></p>
    </li>     
  <% end %>
</ul>
