<h1>Список курсов для прохождения теста</h1>

<p>
  <%= link_to "Добавить Курс", new_test_path %>
</p>

<table>
  <tr>
    <th>Курсы</th>
    <th>Уровень сложности</th>
    <th colspan="4">Действия</th>
  </tr>

  <%= render @tests %>
</table>
