<h1>Список курсов для прохождения теста</h1>

<table>
  <tr>
    <th>Курсы</th>
    <th>Уровень сложности</th>
    <th>Кол.вопросов</th>
    <th>Действия</th>
  </tr>

  <%= render @tests %>
</table>
